
     *{

        margin:0;
        padding: 0;
        box-sizing: border-box;

     }

     header{
        height: 100vh;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-image: url(./imagenIndex.png);
     }

    .nav{

        width: 100%;
        
        display: flex;
        align-items: center;
        justify-content:space-between ; 
        padding: 25px;
        transition:all 0.5s ease;
        position: fixed;
        font-family: 'Roboto';

    }
    .nav.active{
        background: #FFF;
        padding: 15px;
       
    }
    .nav.active .logo,
    .nav.active a{
        color:black;
    }
    .nav.active a:hover{
        background: black;
        color:#FFF;
    }

    .logo{
        font-size: 42px;
        color: #FFF;
        font-weight: 400;
        font-family: 'Playball';
        
    }
    .menu{
        display: flex;
    }
    .menu li{
        list-style: none;
        margin: 15px
        
    }
    .menu li a{
        color:#FFFF;
        text-decoration: none;
        font-weight: bold;
        transition: all 0.5 ease;
    }

    .menu li a:hover{
        padding: 5px 10px;
        background: #FFFF;
        color:black;
       border-radius: 15px;  

    }

    .scrol{
        height: 100px;
    }

    #subtitulo{

        position: absolute;
    width: 743px;
    height: 166px;
    left: 410px;
    top: 332px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 68px;
        
        color:#FFFFFF;
     }

