
 *{

    margin:0;
    padding: 0;
    box-sizing: border-box;

 }

 header{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
 }
 body{
     background-color: rgba(250, 243, 226, 0.33);
 }


.nav{

    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content:space-between ; 
    padding: 25px;
    transition:all 0.5s ease;
    position: fixed;
    font-family: 'Roboto';

}
.nav.active{
    background: #FFF;
    padding: 15px;
   
}
.nav.active .logo,
.nav.active a{
    color:black;
}
.nav.active a:hover{
    background: black;
    color:#FFF;
}

.logo{
    font-size: 42px;
    color:black;
    font-weight: 400;
    font-family: 'Playball';
    
}
.menu{
    display: flex;
}
.menu li{
    list-style: none;
    margin: 15px
    
}
.menu li a{
    color:#000000;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5 ease;
}

.menu li a:hover{
    padding: 5px 10px;
    background: #618985;
    color:#FFF;
   border-radius: 15px;  

}

.scrol{
    height: 100px;
}

#subtitulo{

    position: absolute;
width: 743px;
height: 166px;
left: 410px;
top: 332px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 58px;
line-height: 68px;
    
    color:#FFFFFF;
 }



 #mensaje{

 
position: absolute;
width: 592px;
height: 237px;
left: 796px;
top: 231px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 45px;
line-height: 53px;
display: flex;
align-items: center;
text-align: center;

color: #A28E5C;

color: #A28E5C;
 }

 #mensaje2{

    position: absolute;
width: 588px;
height: 180px;
left: 800px;
top: 365px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 45px;
line-height: 53px;
display: flex;
align-items: center;
text-align: center;

color: #A28E5C;

 }

 #mensaje3{
    position: absolute;
    width: 528px;
    height: 77px;
    left: 830px;
    top: 518px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 53px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #A28E5C;
 }

 #subtitulo{
    position: absolute;
    width: 312px;
    height: 47px;
    left: 186px;
    top: 170px;
    
    font-family: 'Roboto';
    font-style: normal;
    
    font-size: 40px;
    line-height: 47px;
    /* identical to box height */
    font-weight: bolder;
    
    color: #000000;
    

 }

 .input1{
    box-sizing: border-box;

position: absolute;
width: 350px;
height: 40px;
left: 197px;
top: 266px;

background: rgba(255, 255, 255, 0.8);
border: 0.2px solid #000000;
 }
 .input2{
 
    box-sizing: border-box;

    position: absolute;
    width: 350px;
    height: 40px;
    left: 197px;
    top: 370px;
    
    background: rgba(255, 255, 255, 0.8);
    border: 0.2px solid #000000;
 }

 .input3{

    box-sizing: border-box;

    position: absolute;
    width: 350px;
    height: 40px;
    left: 197px;
    top: 474px;
    
    background: rgba(255, 255, 253, 0.8);
    border: 0.2px solid #000000;
 }

 .input4{

    box-sizing: border-box;

    position: absolute;
    width: 350px;
    height: 40px;
    left: 197px;
    top: 578px;
    
    background: rgba(255, 255, 253, 0.8);
    border: 0.2px solid #000000;
 }
 

 #registr{


    
    position: absolute;
    width: 150px;
    height: 30px;
    left: 645px;
    top: 675px;
    
    background: #618985;
    border-radius: 10px;

    font-family: 'Roboto';
    color: #FFFFFF;
    font-weight: bold;
 }