<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/estiloconocenos.css">
  <title>Integrantes</title>
</head>

<body>
  <header class="wrapper">
    <!--<nav>
      
    </nav> -->
  </header>
  <h2 class="titulo-integrantes">Mienbros Del Equipo</h2>
  <div class="autoridades-img">
    <div class="card">
      <div class="face front">
        <img src="../img/cristian.jpg" alt="">
        <h3>Christian Bergometti</h3>
      </div>
      <div class="face back">
        <h3>Backend - Líder de proyecto</h3>
        <p><a href="linkedin.com/in/christianbergometti/" target="_blank">LinkedIn</a><br>
          <a href="github.com/ChristianBergometti" target="_blank">Reposito Github</a>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="face front">
        <img src="../img/candela.jpeg" alt="">
        <h3>Candela Tangari</h3>
      </div>
      <div class="face back">
        <h3>Backend</h3>
        <p>Candela tangueri<br>
          <a href="https://www.linkedin.com/in/candela-tangari-a8918b222/" target="_blank">LinkedIn</a><br>
          <a href="https://github.com/Candela-T" target="_blank">Reposito Github</a>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="face front">
        <img src="../img/andres.jpeg" alt="">
        <h3>Andres Torales</h3>
      </div>
      <div class="face back">
        <h3>Full Stack Developer</h3>
        <p>Andres Torales<br>
          <a href="https://www.linkedin.com/in/toralesandres/" target="_blank">LinkedIn</a><br>
          <a href="https://github.com/toralesandres" target="_blank">Reposito Github</a>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="face front">
        <img src="../img/docente2.svg" alt="">
        <h3>Diego Basualdo </h3>
      </div>
      <div class="face back">
        <h3>Full Stack Developer</h3>
        <p>Diego Basualdo<br>
          <a href="https://www.linkedin.com/in/diego-oveja-basualdo" target="_blank">LinkedIn</a><br>
          <a href="https://github.com/OvejaBasualdo" target="_blank">Reposito Github</a>
        </p>
      </div>
    </div>
    <div class="card">
      <div class="face front">
        <img src="../img/augusto.jpeg" alt="">
        <h3>Augusto Sáez </h3>
      </div>
      <div class="face back">
        <h3>Front-End</h3>
        <p>Augusto Sáez <br>
          <a href="https://www.linkedin.com/in/augusto-roman-saez" target="_blank">LinkedIn</a><br>
          <a href="https://github.com/AugustoSaez" target="_blank">Reposito Github</a>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="face front">
        <img src="../img/gabriel.jpg" alt="">
        <h3>Gabriel Abán</h3>
      </div>
      <div class="face back">
        <h3>Front-End</h3>
        <p>Gabriel Abán <br>
          <a href="https://www.linkedin.com/in/gabriel-ab%C3%A1n-mu%C3%B1oz-b02811200/" target="_blank">LinkedIn</a>
          <br>
          <a href="https://github.com/gabriel-emilio" target="_blank">Reposito Github</a>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="face front">
        <img src="../img/Docente5.svg" alt="">
        <h3>Brian Cordoba</h3>
      </div>
      <div class="face back">
        <h3>Front-End</h3>
        <p>Brian Cordoba <br>
          <a href="" target="_blank">LinkedIn</a>
          <br>
          <a href="https://github.com/gabriel-emilio" target="_blank">Reposito Github</a>
        </p>
      </div>
    </div>
  </div>
</body>

</html>