<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/integrantes.css">
  <title>Integrantes</title>
</head>
<body>
  <header class="wrapper">
    <!--<nav>
      
    </nav> -->
  </header>
  <h2 class="titulo-integrantes">Mienbros Del Equipo</h2>  
  <div class="autoridades-img">    
    <div class="card">
      <div class="face front">
        <img src="../img/cristian.jpg" alt="">
        <h3>Christian Bergometti</h3>
      </div>
      <div class="face back">
        <h3>integrante 1</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam animi recusandae numquam velit ratione, laboriosam ex deserunt ipsa! Aut placeat quaerat mollitia sint, magnam beatae?</p>
      </div>
    </div>
    <div class="card">
      <div class="face front">
        <img src="../img/vicedirector.svg" alt="">
        <h3>integrante 2</h3>
      </div>
      <div class="face back">
        <h3>integrante 2</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam animi recusandae numquam velit ratione, laboriosam ex deserunt ipsa! Aut placeat quaerat mollitia sint, magnam beatae?</p>
      </div>
    </div> 
    <div class="card">
      <div class="face front">
        <img src="../img/docente1.svg" alt="">
        <h3>Andres Torales</h3>
      </div>
      <div class="face back">
        <h3>Full Stack Developer</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam animi recusandae numquam velit ratione, laboriosam ex deserunt ipsa! Aut placeat quaerat mollitia sint, magnam beatae?</p>
      </div>
    </div> 
    <div class="card">
      <div class="face front">
        <img src="../img/docente2.svg" alt="">
        <h3>integrante 4</h3>
      </div>
      <div class="face back">
        <h3>integrante 4</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam animi recusandae numquam velit ratione, laboriosam ex deserunt ipsa! Aut placeat quaerat mollitia sint, magnam beatae?</p>
      </div>
    </div> 
    <div class="card">
      <div class="face front">
        <img src="../img/Docente3.svg" alt="">
        <h3>integrante 5</h3>
      </div>
      <div class="face back">
        <h3>integrante 5</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam animi recusandae numquam velit ratione, laboriosam ex deserunt ipsa! Aut placeat quaerat mollitia sint, magnam beatae?</p>
      </div>
    </div> 
    <div class="card">
      <div class="face front">
        <img src="../img/Docente4.svg" alt="">
        <h3>integrante 6</h3>
      </div>
      <div class="face back">
        <h3>integrante 6</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam animi recusandae numquam velit ratione, laboriosam ex deserunt ipsa! Aut placeat quaerat mollitia sint, magnam beatae?</p>
      </div>
    </div> 
    <div class="card">
      <div class="face front">
        <img src="../img/Docente5.svg" alt="">
        <h3>integrante 7</h3>
      </div>
      <div class="face back">
        <h3>integrante 7</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam animi recusandae numquam velit ratione, laboriosam ex deserunt ipsa! Aut placeat quaerat mollitia sint, magnam beatae?</p>
      </div>
    </div>  
  </div>  
  <footer> 
    <rectangulo id="foot"> </rectangulo>
    <p id="eggp">Eggperience</p>
    <p id="by"> by egg</p>
    <p id="derechos">&copy: Eggperience - todos los derechos reservados</p>

    <a href="#"><img src="../img/facebook2.png" class="face"></a>
    <a href="#"><img src="../img/instagram.png" class="insta"></a>
    <a href="#"><img src="../img/whatsapp.png" class="what"></a>
</footer> 
</body>
</html>