<!DOCTYPE html>
<html lang="en" 
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/estiloReserva2.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Playball&family=Roboto:wght@100;300&display=swap" rel="stylesheet">
        <title>Reserva2</title>
    </head>
    <body>
        <header>
            <nav class="nav">

                <a href= "/" class="logo"  style="text-decoration:none">  <strong> Eggperience </strong> </a> 
                <ul class="menu">

                    <li> <a href= "/usuario/index_logueado" >  <strong> Hotel </strong> </a> </li>
                    <li> <a href= "/habitaciones" > <strong>Habitaciones </strong> </a>  </li>
                    <li> <a href= "/reservas"> <strong>Reservas</strong> </a></li>
                    <li> <a href= "#" > <strong>Ubicación</strong> </a></li>
                    <li sec:authorize="hasAnyRole('ROLE_USER')">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" 
                           th:text="${nombreUsuario}">

                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/usuario/editarPerfil">Editar perfil</a>
                            <a class="dropdown-item" href="/usuario/editarClave">Cambiar contraseña</a>
                            <a class="dropdown-item" href="#">Ver Reservas</a>
                            <a class="dropdown-item" href="/logout">Logout</a>
                        </div>
                    </li>                    
                    <li th:if="${session.usuariosession == null}"><a href= "/login"> <strong>Login</strong> </a></li>

                </ul>
            </nav>

        </header>
        <div class="rectangulo"> </div>

        <img src="../img/booking.png" class="booking"  >
        <form action="/personas"   method="POST">


                <input type="text" hidden  name="idReserva" th:value="${idReserva}" >
                <input type="date" name="Checkin"  th:value="${CheckIn}">
                <input type="date" name="Checkout" th:value="${CheckOut}">
                
            <div class="mb-3">
                <label for="" class="label1">Cantidad de personas</label>
                <input type="number" class="input1" name="CantidadPersonas" placeholder="" min="1" th:max="${CantidadPersonas}" >
                <!--//probar el max con th:value para limitar--> 
                <label for="" class="label2">Habitación doble</label>
                <input type="number" class="input2" name="Habitacion2Personas" placeholder="" value ="0"  th:max="${habitacion2Personas}" >
                <!--th:max es la etiqueta THYMELEAF que etea el MÁXIMO de estos INPUTS-->
                <label for="" class="label3">Habitación cuádruple</label>
                <input type="number" class="input3" name="Habitacion4Personas" placeholder="" value ="0" th:max="${habitacion4Personas}" >

                <label for="" class="label4">Habitación séxtuple</label>
                <input type="number" class="input4" name="Habitacion6Personas" placeholder="" value ="0" th:max="${habitacion6Personas}" >


                <p class="input3" id="error" th:if="${error != null}" th:text="${error}" style="color:red;"> </p>

            </div>


        <input type="submit" name="reservaForm" value="buscar">
            <span class="label">buscar</span>
            <span class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"></path></svg>
            </span>
          </input>

        </form>



        <div class="scrol"></div>
        <script src="../js/menuIndex.js"></script>
    </body>
</html>